*.o
*.a
*.so
tags
autom4te.cache
config.log
config.status
*~
*.swp
Makefile
pkgIndex.tcl
tdomConfig.sh
/versionhash.h
# meson build artefacts
/build*
/subprojects/*-*
/subprojects/packagecache
/subprojects/.wraplock
